<!DOCTYPE html>
<html lang="en">
<head title="Table">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/js/js_code.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Table</title>
</head>
<body>

<div class="topnav">
  <a href="table">Table</a>
  <a href="import">Import</a>
  <a href="draw">Visualise</a>
  <a class="active" href="compare">Compare</a>
  <a href="diff">Diff Logs</a>
</div>

<div style="padding-left:16px;">
<input id="compare-input" style="width: 500px;" placeholder="enter 'absolute/full path' or 'example' or 'compare'">
<button id="compare-search-button" onclick="startCompare()">Compare</button>
  <div id="results"></div>
</div>
<div style="text-align: center; width: 100%;" id="processingDialog" class="modal">
    <div class="ring">
      <span></span>
    </div>
</div>
</body>
</html>

