<!DOCTYPE html>
<html lang="en">
<head title="Table">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/js/js_code.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Table</title>
</head>
<body>

<div class="topnav">
  <a  href="table">Table</a>
  <a class="active" href="import">Import</a>
  <a href="draw">Draw</a>
  <a href="compare">Compare</a>
  <a href="diff">Diff Logs</a>
</div>

<div style="padding-left:16px;">
<input id="import-input" style="width: 500px;" placeholder="enter absolute/full path" value="{{ absolute_path }}">
<button id="table-search-button" onclick="startImport()">Import</button>
  <div id="results"></div>
</div>

</body>
</html>